html {
	min-height: 100%;
	position: relative;
}

   body {
    background: url(images/supermario.png) repeat-x 0 100% fixed,
                url(images/cloud.png) no-repeat fixed,
                url(images/cloud.png) no-repeat fixed,
                linear-gradient(to top, #5080b1, #004e8c) fixed;
    animation: city 120s linear infinite;
    -webkit-animation: city 120s linear infinite;
	margin-bottom: 100px;
   }
   @keyframes city {
    from { background-position: 6763px 100%, 120% 30%, 120% 15%, 0 0;}
    to { background-position: 0 100%, -200% 10%, -50% 15%, 0 0; }
   }
   @-webkit-keyframes city {
    from { background-position: 6763px 100%, 120% 30%, 120% 15%, 0 0;}
    to { background-position: 0 100%, -200% 10%, -50% 15%, 0 0; }
   }

#sun {
position: fixed;
width: 100px;
height: 100px;
background: url(images/13371057552112008469Shining.png) top left no-repeat;
right: 90%;
top: 50px;
z-index: 1;
}

#logo {
	display: inline-block;
	width: 55px;
	height: 55px;
	border-radius: 73px;
	font-size: 25px;
	color: #fff;
	line-height: 73px;
	vertical-align: middle;
	text-align: center;
	background: url("mario_retro.png");
	box-shadow: none;
	margin: 0 0 0 20px;
	font-weight: bold;
	padding: 0;
}

a, a:hover {
	text-decoration: none;
	border-bottom: 0px dotted #fff;
	color: #ffffcc;
}

h3 {margin: 0;}
*:focus {outline: none;}
.navbar-nav > .active a {
	color: #fff !important;
	background-color: rgba(178,178,178,0.4) !important;
}

.spacer20 {height: 20px;}
.padding20 {padding: 20px;}
.rounded5 {border-radius: 5px;}

.grayFont {color: #fff;}
.blueBackground {background: rgba(178,178,178,0.0); color: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.5);}
.whiteBackground {background: rgba(178,178,178,0.0); color: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.5);}

.navbar {
	border: 0;
	color: #fff;
	border-radius: 0;
	background-color: rgba(178,178,178,0.0); color: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
font-family: 'Prosto One', cursive;
}

.navbar li a {
	border: 0;
	color: #fff;
	display: block;
	text-transform: uppercase;
	padding: 25px 20px 25px 25px;
}

ul.nav.navbar-nav a:hover {
	color: #fff;
	text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.fa {
  padding: 7px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 0px 0px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-vk {
  background: #125688;
  color: white;
}



.b-top {z-index:2600;position:fixed;left:0;bottom:90px;width:34%;margin-left:50%;opacity: 0.5;filter:alpha(opacity=50);}
.b-top:hover {opacity:1;filter:alpha(opacity=100);cursor:pointer;}
.b-top-but {z-index:2600;position:absolute;display:block;left:56px;bottom:0;margin:0 0 0 100%;padding:32px 12px 4px;
color:black;background:#D8D5C2 url("up.png") no-repeat 50% 11px;border-radius:7px;}

footer a, footer a:hover, .navbar a {
	color: #fff;
	text-decoration: none;
	border-bottom: 0px dotted #fff;
}

footer {

	bottom: 0;
	width: 100%;
	min-height: 60px;
	position: absolute;
	background: transparent;
	
	font-family: 'Neucha', cursive;
	color: #fff;
}

